
html {
    font-family: "Roboto", sans-serif;
    margin-left: 20px;
}

h1 {
    font-family: 'Special Elite', cursive;
    padding: 25px 5px 5px 5px;
    margin: 0px 0px 0px 0px;
}

h2 {
    font-family: 'Special Elite', cursive;
    font-size: 0.8rem;
    margin: 2px 5px 25px 5px;
    padding-left: 0;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

#alert-dialog-title {
    font-family: "Times New Roman";
    font-size: 24pt;
}

#alert-dialog-description {
    font-family: "Times New Roman";
    font-size: 12pt;
}

.about {
    font-family: "Times New Roman";
    font-size: 1rem;
}

.sitetitle {
    margin-top: 0px;
    margin-bottom: 50px;
}

.content-container {
    min-height: cacl(100vh - 2.5rm);
}

.footer-pin {
  position: relative;
  text-align: center;
  bottom: 0;
  left: 0;
  margin-top: 100px;
  width: 100%;
  height: 2.5rem;
}

footer p {
  font-family: 'Special Elite', cursive;
  font-size: 0.8rem;
  color: #ccc;
}

.timeline-item {
    font-family: 'Times New Roman', serif;
    font-size: 1rem;
}

.timeline-title {
    font-family: 'Special Elite', cursive;
    font-size: 0.8rem;
    padding-top: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

